{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100 home-content">
    <div class="container mt-3">
        <div class="product-scroll-bar">
            <div class="product-bar">
                {% for product in products %}
                <div class="product-item">
                    <span class="product-name">{{ product.name }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Code used from Boutique Ado. With some adaption -->
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                New products are here!
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-button btn btn-md rounded-2 text-uppercase py-3">Shop Now!</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container w-100">
    <!-- Display panel with some qualities of the site -->
    <div class="row w-100">
        <div class="col-7 col-md-6 my-auto">
            <ul class="tile-panel">
                <li>
                    <i class="fa-solid fa-truck"></i>
                    <div class="field-tile">
                        <div class="field_item">Tracked delivery</div>
                    </div>
                </li>
                <li>
                    <i class="fa-solid fa-palette"></i>
                    <div class="field-tile">
                        <div class="field_item">Original designs</div>
                    </div>
                </li>
                <li>
                    <i class="fa-solid fa-gift"></i>
                    <div class="field-tile">
                        <div class="field_item">Gifts for every occasion</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}
