{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <!-- Carousel Section -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div id="productCarousel" class="carousel slide my-5" data-ride="carousel">
                    <div class="carousel-inner">
                        <!-- Main Product Image -->
                        {% if product.image %}
                        <div class="carousel-item active">
                            <a href="{{ product.image.url }}" target="_blank">
                                <img src="{{ product.image.url }}" class="d-block w-100 img-fluid product-image" alt="{{ product.name }}">
                            </a>
                        </div>
                        {% elif product.image_url %}
                        <div class="carousel-item active">
                            <a href="{{ product.image_url }}" target="_blank">
                                <img src="{{ product.image_url }}" class="d-block w-100 img-fluid product-image" alt="{{ product.name }}">
                            </a>
                        </div>
                        {% else %}
                        <div class="carousel-item active">
                            <a href="{{ MEDIA_URL }}noimage.png" target="_blank">
                                <img src="{{ MEDIA_URL }}noimage.png" class="d-block w-100 img-fluid product-image" alt="{{ product.name }}">
                            </a>
                        </div>
                        {% endif %}

                        <!-- Related Product Images -->
                        {% for img in product.images.all %}
                        <div class="carousel-item">
                            <a href="{{ img.image.url }}" target="_blank">
                                <img src="{{ img.image.url }}" class="d-block w-100 img-fluid product-image" alt="Image of {{ product.name }}">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Carousel Controls -->
                    <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <!-- Product infomation -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0"><strong>{{ product.name }}</strong></p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
